node_modules/
.env
.env.local
.env.*.local
AGENTS.md
NEKOFINANCE_BOT_BLUEPRINT.md
REKAP_MATERI_PENTING.md
sdd/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vercel/
dist/
build/
*.xlsx
.vscode/*
!.vscode/settings.json
.idea/
*.txt
